

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 http://localhost/car%20rent/404 

RewriteRule ^CarDetails/([a-zA-z0-9-]+) CarDetails.php?uid=$1